@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --dark-blue: #1f3251;
    --grayish-blue: #7b879d;
    --light-gray: #d6e2f0;
    --white: #ffffff;
}

/* ++++++++++++++ GLOBAL STYLES ++++++++++++++ */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--dark-blue);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3rem;
    margin: 0;
    padding: 2rem;
    text-align: center;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

p {
    color: var(--grayish-blue);
    font-size: 1.5rem;
    text-align: center;
    padding: 0 3rem;
}

.container {
    margin: auto;
    max-width: 102rem;
}

/* ++++++++++++++ QR CODE ++++++++++++++ */

.qr-code {
    background-color: var(--white);
    border-radius: 1.5rem;
    margin: 1rem 2.8rem;
    height: 49.7rem;
    width: 32rem;
}

.image-qr {
    padding: 1.6rem 1.6rem 0;
}

.image-qr,
.image-qr img {
    border-radius: 1rem;
}

/* ++++++++++++++ FOOTER ++++++++++++++ */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}

.attribution,
.attribution a {
    color: var(--dark-blue);
    font-size: 1.2rem;
    font-weight: bold;
}

.attribution a {
    color: var(--grayish-blue);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}